/*
primary color #0d56d9    rgb(13, 86, 217)
secondary color #009AFC    rgb(0, 154, 252)
other pallete colors #00CFEB   rgb(0, 207, 235)
#6BFBCE     rgb(107, 251, 206)
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 0 3rem 3rem 3rem;
}

/* Navigation bar styling */
.navbar {
    margin-top: -1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 4;
    padding: 2rem;

}


.navbar-logo {
    display: inline-block;
    font-size: 4rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2rem;
    color: transparent;
    font-weight: 300;
    z-index: 4;
    background-image: linear-gradient(to right bottom, rgb(88, 0, 255, 0.8), rgba(0, 215, 255, 0.8));
    -webkit-background-clip: text;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    color: #0d56d9;
    list-style: none;
}

.navbar-items,
.form-submit_btn,
.navbar-items:link,
.navbar-items:focus {
    margin: 1rem;
    font-size: 1.3rem;
    display: inline-block;
    color: #0d56d9;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: .30rem;
    transition: all .2s ease;
    border: none;
    border-radius: 100px;
}

#contact-btn {
    background-color: #0d56d9;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 300;
}

.navbar-items:hover {
    margin: 1rem;
    background-color: #fff;
    display: inline-block;
    color: #0d56d9;
    border-radius: 100px;
    padding: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.form-submit_btn:hover {
    margin: 1rem;
    background-color: #fff;
    display: inline-block;
    color: #0d56d9;
    border-radius: 100px;
    padding: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: translatey(-3px);
}

/* Header styling */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95vh;
    background-image: linear-gradient(to right bottom, rgb(13, 86, 217, 0.9), rgb(0, 154, 252, 0.9)), url(../css/images/hero.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 95%);
    z-index: 1;

}

.header-text_box {
    margin-top: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    line-height: 8.5rem;
    text-align: center;
}

.header-logo {
    position: absolute;
    top: 10px;
    left: -10px;
    height: 20rem;
    animation: slideRight 2s ease-out .3s;
    margin-top: 4rem;
}

.header-main_heading {
    font-size: 13rem;
    display: block;
    font-weight: 400;
    letter-spacing: 3rem;
    text-transform: uppercase;
    color: #fff;
    animation: slideLeft 1.5s ease-out .3s;

}

.header-sub_heading {
    display: block;
    letter-spacing: .49rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;

    animation: slideRight 1.5s ease-out .3s;

}

.header-big_btn a {
    text-align: center;
    text-decoration: none;
    color: #0d56d9;
}

.header-big_btn,
.header-big_btn:link,
.header-big_btn:hover {
    margin-top: 10rem;
    background-color: #fff;
    height: 8rem;
    width: 20rem;
    color: #0d56d9;
    border-radius: 100px;
    display: inline-block;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
}

.header-big_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.header-big_btn:active,
.header-big_btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Header CSS only animations */
/*
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-15rem)
    }

    80% {

        transform: translateX(2rem)
    }

    100% {
        opacity: 1;
        translate: (0)
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(15rem)
    }

    80% {

        transform: translateX(-2rem)
    }

    100% {
        opacity: 1;
        translate: (0)
    }
} */

/* About section Styling */
.big-heading {
    background-image: linear-gradient(to right bottom, rgb(88, 0, 255, 0.8), rgba(0, 215, 255, 0.8));
    color: transparent;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .5rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
    width: 100%;
    margin-bottom: 2rem;
}


.about-section {
    text-align: center;

    margin-top: 4rem;
}

.about-content__box {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: linear-gradient(to right bottom, rgb(13, 86, 217, 0.8), rgb(0, 154, 252, 0.8));

}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-radius: 6px;
    padding: 3rem;
    flex-basis: 50%;
}

.about-content_heading {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3rem;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    text-align: center;
}

.about-content_paragraph {
    text-transform: uppercase;
    line-height: 3;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: 300;
}

/* Feature section styling */
.features-section {
    min-height: 40vh;
    margin-top: 2rem;
}

.feature-cards_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-image: linear-gradient(to right, rgb(13, 86, 217, 0.8), rgb(0, 154, 252, 0.8));
    min-height: 60vh;
}

.feature-card_heading {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
    letter-spacing: .1rem;
}

.feature-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 4px;
    padding: 2rem;
    flex-basis: 25%;
    height: 50rem;
}

.feature-card_text {
    text-align: start;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 3rem;
    color: #f7f7f7;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

/* Plans Section styling */

.plans-section {
    margin-top: 3rem;
}

.plans-card_box {
    padding: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0d56d9;
}

.plans-card {
    background-image: linear-gradient(to right bottom, rgb(0, 0, 0, .6), rgb(0, 154, 252, .5), rgb(88, 0, 255));
    flex-basis: 32%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4rem 3rem rgba(0, 0, 0, 0.5);
    transition: all .3s ease-out;

}

.plans-card:hover {
    background-image: linear-gradient(to right bottom, rgb(13, 86, 217), rgb(107, 251, 206, 0.7));
    font-weight: 300;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.plans-card_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.plans-card_heading {
    font-weight: 900;
    color: #fff;
    letter-spacing: .5rem;
    line-height: 7rem;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

.plans-card p,
.plans-btn {
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    padding: 1rem;
    color: #fff;
    outline: none;
    text-transform: capitalize;
}

.plans-card h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1rem;
}

#yoga-price,
#gym-price,
#yogym-price {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 3rem;
    color: #f7f7f7;
}

.plans-btn {
    display: block;
    background-color: #fff;
    color: #303030;
    font-size: 2.5rem;
    font-weight: 300;
    border-radius: 100px;
    padding: 2rem;
    text-decoration: none;
    transition: all .4s ease;
}

.plans-btn:hover {
    background-color: #0d56d9;
    color: #fff;
    display: block;
    text-decoration: none;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

/* Stories Section styling */

.story-section {
    margin-top: 3rem;
    text-align: center;
}

.story-section__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.story {

    padding: 3rem;
    background-color: rgb(0, 207, 235, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;

}

.story-image {
    object-fit: cover;
    border: 6px solid #0d56d9;
    padding: 2rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.story-quote {
    font-family: inherit;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    line-height: 3.5rem;
    text-align: center;
    color: #303030;
}

.story-name {
    outline: none;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(13, 86, 217, 1);
    letter-spacing: 1rem;
}

/* Contact Us section styling */
.contact-form-box {
    padding: 3rem;
    background-color: #0d56d9;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.form-content textarea {
    border: none;
    width: 90%;
    height: 30rem;
    font-size: 1.5rem;
    color: black;
    font-family: inherit;
    padding: 1rem;
    box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.form-input {
    width: 90%;
    display: block;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    color: #0d56d9;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    transition: all .3s;
    border: none;
    outline: none;
    box-shadow: 0 2rem 1rem rgb(0, 0, 0, 0.2);
}

.form-input::placeholder {
    color: #0d56d9;
    font-family: inherit;
    letter-spacing: .2rem;
    font-weight: 700;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.2);
    border-bottom: 3px solid #0d56d9;
    transition: all .3s;
}

.form-input:not(:last-child) {
    margin-bottom: 2rem;
}

.form-label {
    font-size: 1.7rem;
    font-weight: 300;
    margin-left: 2rem;
    margin-bottom: 1rem;
    display: block;
    transition: all .3s;
    color: #f7f7f7;
    text-transform: capitalize;
    width: 10rem;
}

/* Footer Styling */
.footer {
    height: 300px;
    width: 100%;
    background-color: #333333;
    position: relative;
    bottom: 0;
    margin-top: 2rem;
}

.footer h4 {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    line-height: 40px;
    font-size: 3rem;
}

/* MEDIA QUERIES */


/* Media query @1200px */
@media screen and (max-width:1200px) {
    .plans-card {
        height: 50rem;
    }
}

/* Media query @950px */
@media screen and (max-width:950px) {

    .navbar {
        height: auto;
        padding: 0;
    }
    .navbar-logo {
        font-size: 3rem;
    }


    .header-main_heading {
        font-size: 8rem;
    }

    .header-sub_heading {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .header-logo {
        margin-top: 8rem;
        height: 15rem;

    }

    .feature-card {
        flex-basis: 50%;
        height: 35rem;
        overflow: hidden;
        justify-content: space-between;
    }

    .feature-card_heading {
        font-weight: 700;
        letter-spacing: .4rem;
    }

    .big-heading {
        font-size: 1.9rem;
        font-weight: 700;
    }

    .plans-card_box {
        padding: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .plans-card {
        margin-top: -.8rem;
        flex-basis: 33%;
        align-items: center;
        justify-content: space-between;
        height: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .plans-card_text p {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .story-quote {
        font-size: 1.9rem;
    }
}

/* Media query @720px */
@media screen and (max-width:720px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        font-size: 3rem;
    }

    .header-main_heading {
        font-size: 6rem;
    }

    .header-sub_heading {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .big-heading {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .about-content {
        flex-basis: 100%;
    }

    .feature-card {
        flex-basis: 100%;
    }

    .plans-card_box {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .plans-card {
        width: 50rem;
        margin-bottom: 2rem;
    }

    .story-image {
        height: 12rem;
        width: 12rem;
        padding: 0;
    }

    .story-name {
        font-size: 1.5rem;
    }
}

/* Media query @640 */
@media screen and (max-width:640px) {

    .header-main_heading {
        font-size: 6rem;
        margin-left: 1rem;
    }

    .header-sub_heading {
        font-size: 1.3rem;
        font-weight: 300;
    }
.navbar ul {
    margin-left: -6rem;
}
    .navbar .navbar-items {
        font-size: 1;
    }
    #about-heading {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .big-heading {
        font-size: 1.5rem;
        font-weight: 700;

    }

    .about-content {
        flex-basis: 100%;
    }

    .plans-card_box {
        align-items: center;
        justify-content: center;
    }

    .plans-card {
        width: 40rem;
    }
}

/* Media query @480 */
@media screen and (max-width:480px) {
    .navbar-logo {
        font-size: 3rem;
        font-weight: 300;
    }
.navbar .navbar-items{
    font-size:1rem;
}
    #contact-btn {
        font-size: 1rem;
        font-weight: 700;
    }

    .header-main_heading {
        margin-top: 8rem;
        font-size: 5rem;
        margin-left: 5rem;
    }

    .header-sub_heading {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: -8rem;
    }

    #about-heading {
        font-size: 1rem;
        font-weight: 700;
    }

    .big-heading {
        font-size: 1.5rem;
        font-weight: 700;

    }

    .about-content {
        flex-basis: 100%;
        justify-content: space-around;
    }

    .about-content_heading {
        font-size: 2rem;
    }

    .about-content_paragraph {
        font-size: 1rem;
        font-weight: 400;

    }

    .about-content2 {
        margin-top: -7rem;
    }

    .feature-card_heading {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .feature-card {
        padding: 1.5rem;
        flex-basis: 100%;

    }

    .feature-card p {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .plans-card h3 {
        font-size: 4rem;
    }

    .plans-card_box {

        align-items: center;
        justify-content: space-around;
    }

    .plans-card {
        width: 30rem;
    }

    .story-name {
        font-size: 1rem;
    }

    .story-quote {
        font-size: 1.4rem;
    }
}

/* Media query @414px */
@media only screen and (max-width: 414px) {
    body {
        padding: 1rem;
    }

    .navbar .navbar-items {
        font-size: .9rem;
        margin-left: -1rem;
    }

    #contact-btn {
        font-size: .6rem;
        font-weight: 700;
        position: absolute;
        left: 33.5rem;
        margin-top: -1.8rem;
    }

    .navbar-logo {
        transform: scale(0);
    }

    .navbar {
        height: 10%;
        align-items: flex-start;
    }

    .navbar ul {
        position: relative;
        margin-left: 0;
        padding: 0;
        flex-wrap: wrap;
        margin-top: -5rem;
        width: 35rem;
        align-items: baseline;
        justify-content: space-around;
    }

    .header-logo {
        margin-top: 6rem;
        height: 10rem;
    }

    .header-main_heading {
        margin-top: -10rem;
        font-size: 4rem;
        margin-left: 2rem;
    }

    .header-sub_heading {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
    }

    .big-heading {
        font-size: 1.1rem;

    }

    .plans-card_box {
        padding: 2rem;

    }

    .plans-card {
        width: 25rem;
        height: 42rem;
    }

    .feature-card_heading {
        font-size: 1.5rem;

    }

    .feature-section_box {
        padding: 1rem;
    }

    .feature-section_card {
        flex-basis: 100%;

        padding: .5rem;
    }

    .feature-card_text {
        font-size: .8rem;
    }
}


/* Media query @370 */
@media screen and (max-width:370px) {
    body {
        padding: 1rem;
    }

    .navbar .navbar-items {
        font-size: .9rem;
        margin-left: -3rem;;
    }

    #contact-btn {
        position: absolute;
        left: 30rem;
    }

    #about-btn,
    #features-btn,
    #plans-btn {
        margin-left: -6rem;
    }

    .header-logo {

        height: 10rem;
    }

    .header-main_heading {
        font-size: 4rem;
        margin-left: 2rem;
    }

    .header-sub_heading {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
    }

    .big-heading {
        font-size: 1.1rem;

    }

    .plans-card_box {
        padding: 2rem;

    }

    .plans-card {
        width: 25rem;
        height: 42rem;
    }

    .feature-card_heading {
        font-size: 1.5rem;

    }

    .feature-section_card {
        flex-basis: 110%;
        padding: .5rem;

    }

    .feature-card_text {
        font-size: .8rem;
    }
}

/* Media query @350px */

@media screen and (max-width:350px) {
    body {
        padding: 1rem;
    }

    .navbar .navbar-items {
        margin-left: -3.5rem;
        font-size: .8rem;
    }


    .header-logo {
        margin-top: 21rem;
        height: 10rem;
    }

    .header-main_heading {
        font-size: 4rem;
        margin-left: 2rem;
    }

    .header-sub_heading {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
    }

    .big-heading {
        font-size: 1.1rem;

    }

    .plans-card_box {
        padding: 2rem;

    }

    .plans-card {
        width: 25rem;
        height: 42rem;
    }

    .feature-card_heading {
        font-size: 1.5rem;

    }

    .feature-section_box {
        padding: 1rem;
    }

    .feature-section_card {
        flex-basis: 100%;

        padding: .5rem;
    }

    .feature-card_text {
        font-size: .8rem;
    }
}


/* Media query @320px */
@media only screen and (max-width: 320px) {
    .navbar .navbar-items{
        font-size:.7rem;
    }
    #about-btn,
    #features-btn,
    #plans-btn {
        margin-left:-7.5rem;
    }
    .navbar ul{
        margin-left: -1rem;;
    }

    #contact-btn {
        font-size: .7;
        left: 28rem;
    }

    .header-logo {
        margin-top: 4rem;
        height: 10rem;
    }

    .header-main_heading {
        font-size: 2rem;
        margin-left: 2rem;
    }

    .header-sub_heading {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
    }

    .big-heading {
        font-size: 1.1rem;

    }

    .plans-card_box {
        padding: 2rem;

    }

    .plans-card {
        width: 22rem;
        height: 42rem;
    }

    .feature-card_heading {
        font-size: 1.5rem;

    }

    .feature-section_box {
        padding: 1rem;
    }

    .feature-section_card {
        flex-basis: 100%;

        padding: .5rem;
    }

    .feature-card_text {
        font-size: .8rem;
    }
}