/*
primary color #0d56d9    rgb(13, 86, 217)
secondary color #009AFC    rgb(0, 154, 252)
other pallete colors #00CFEB   rgb(0, 207, 235)
#6BFBCE     rgb(107, 251, 206)

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

/* Navigation bar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: #fff;
    position: fixed;
    padding: 3rem;
    width: 100%;
    z-index: 7;
    margin-top: -3rem;
    height: 5rem;
}

.navbar-logo {
    display: inline-block;
    padding: 3rem
}

.navbar-logo a {
    font-size: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2rem;
    color: transparent;
    font-weight: 300;
    z-index: 4;
    background-image: linear-gradient(to right bottom, rgb(88, 0, 255, 0.8), rgba(0, 215, 255, 0.8));
    -webkit-background-clip: text;
}

.navbar li {
    margin-right: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #0d56d9;
}

.navbar-items,
.navbar-items:link,
.navbar-items:focus {
    margin: 1rem;
    font-size: 1.3rem;
    display: inline-block;
    color: #0d56d9;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: .30rem;
    transition: all .2s ease;
}

#cto-signin {
    background-color: #0d56d9;
    display: inline-block;
    color: #fff;
    border-radius: 100px;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-items:hover {
    margin: 1rem;
    background-color: #fff;
    display: inline-block;
    color: #0d56d9;
    border-radius: 100px;
    padding: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

/* Header styling */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95vh;
    background-image: linear-gradient(to right bottom, rgb(13, 86, 217, 0.9), rgb(0, 154, 252, 0.9)), url(../css/images/hero.jpg);
    background-position: top;
    background-size: cover;

    background-repeat: no-repeat;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 95%);
    z-index: 1;

}

.header-text_box {
    margin-top: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    line-height: 8.5rem;
    text-align: center;


}

.header-logo {
    position: absolute;
    top: 10px;
    left: -10px;
    height: 20rem;
    animation: slideRight 2s ease-out .3s;
}

.header-main_heading {
    font-size: 13rem;
    display: block;
    font-weight: 400;
    letter-spacing: 3rem;
    text-transform: uppercase;
    color: #fff;
    animation: slideLeft 1.5s ease-out .3s;

}

.header-sub_heading {
    display: block;
    letter-spacing: .49rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;

    animation: slideRight 1.5s ease-out .3s;

}

.header-big_btn a {
    text-align: center;
    text-decoration: none;
}

.header-big_btn,
.header-big_btn:link,
.header-big_btn:hover {
    margin-top: 10rem;
    background-color: #fff;
    height: 8rem;
    width: 20rem;
    color: #0d56d9;
    border-radius: 100px;
    display: inline-block;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
}

.header-big_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.header-big_btn:active,
.header-big_btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Header CSS only animations */

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-15rem)
    }

    80% {

        transform: translateX(2rem)
    }

    100% {
        opacity: 1;
        translate: (0)
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(15rem)
    }

    80% {

        transform: translateX(-2rem)
    }

    100% {
        opacity: 1;
        translate: (0)
    }
}

/* About section Styling */
.big-heading {
    background-image: linear-gradient(to right bottom, rgb(88, 0, 255, 0.8), rgba(0, 215, 255, 0.8));
    color: transparent;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .5rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
    width: 100%;
    margin-bottom: 2rem;
}


.about-section {
    text-align: center;

    margin-top: 4rem;
}

.about-content__box {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: linear-gradient(to right bottom, rgb(13, 86, 217, 0.8), rgb(0, 154, 252, 0.8));

}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-radius: 6px;
    padding: 3rem;
    flex-basis: 50%;
}

.about-content_heading {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3rem;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    text-align: center;
}

.about-content_paragraph {
    text-transform: uppercase;
    line-height: 3;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: 300;
}

/* Feature section styling */
.features-section {
    min-height: 40vh;
    margin-top: 2rem;
}

.feature-cards__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    background-image: linear-gradient(to right, rgb(13, 86, 217, 0.8), rgb(0, 154, 252, 0.8));
    max-height: auto;
}

.feature-card__heading {
    font-size: 2.3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-size: 1rem;
    font-weight: 400;
    color: #303030;
    text-transform: uppercase;
    background-color: #fff;
    padding: 4rem;
    line-height: 2rem;
    letter-spacing: .1rem;
    border-radius: 4px;
    border: 2px solid #0d56d9;
    margin-bottom: 2rem;
}

.feature-card1,
.feature-card2 {
    flex-basis: 50%;
}

.feature-card3,
.feature-card4 {
    flex-basis: 50%;
}

.feature-card:hover {
    transform: translateY(-15px);
    cursor: pointer;
    transition: all .3s ease-out;
}

/* Plans Section styling */

.plans-section {
    margin-top: 3rem;
}

.plans-card__box {
    padding: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:#0d56d9;
}
.plans-card {
    flex-basis: 30%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}
.plans-card_heading{
    font-weight: 900;
    color: #fff;
    letter-spacing: .5rem;
    line-height: 8rem;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

.plans-card__text {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    padding: 2rem;
    color: #fff;
    font-size: 1rem;
    outline: none;
}
.plans-card__text:hover {
    background-image: linear-gradient(to right bottom, rgb(13, 86, 217), rgb(107, 251, 206,0.7));
    font-weight: 300;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    padding: 2rem;
    color: #fff;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: all .7s;
    border-radius: 8px;
}

.plans-card h4 {
    font-size: 4rem;
    font-weight: 100;
}
.plans-card1 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(13, 86, 217,0.7),rgba(255, 255, 255)), url(../css/images/yoga-card.jpg);
    background-size: cover;
    background-position: top;
}
.plans-card2 {
    background-image: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(13, 86, 217,0.7),rgba(255, 255, 255)), url(../css/images/gym-card.jpg);
    background-position: top;
    background-size: cover;
}
.plans-card3 {
    background-image: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(13, 86, 217,0.9),rgba(255, 255, 255)), url(../css/images/gymclass.jpg);
    background-position: top;
    background-size: cover;
}

#plans-price {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 2rem;
    line-height: 6rem;
}
.plans-card p {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-top: 1rem;
}
#plan-cto {
    display: block;
    background-color: #fff;
    color: #303030;
    font-size: 2rem;
    border-radius: 100px;
    padding: 1rem;
    text-decoration: none;
    margin-top: 3rem;
}

#plan-cto:hover {
    background-color: #0d56d9;
    color: #fff;
    display: block;
    transition: all .4s ease;
    font-size: 2rem;
    border-radius: 100px;
    padding: 1rem;
    text-decoration: none;
    margin-top: 3rem;
}